{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" /><style>code {
    color: #34495E;
}

pre {
    background-color: #e0e0e0;
    border: 1px solid #a0a0a0;
    padding: 1em;
}</style>{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block content %}
<div id="content-main">
    <h1>Log of <code>./bespoke-admin-{{ app_name }}.log</code></h1>
    <pre><code>{{ contents }}</code></pre>
</div>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:commands-list' %}">Commands</a>
&rsaquo; bespoke-admin-{{ app_name }}.log
</div>
{% endblock %}